* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 4rem auto 7rem;
  text-align: center;
}

.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid green;
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 2px solid green;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  display: block;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
  margin-top: 2rem;
}

.btn-primary {
  background: green;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
  margin-top: 2rem;
}

.heading {
  color: green;
}

.description {
  font-size: larger;
  margin: 1rem;
}
